<div>

  <h2>Configuration</h2>
  <p>{{messenger.hostname}}:{{messenger.port}}</p>
  <div>
    <input [(ngModel)]="messenger.hostname" placeholder="type here the url">
    <input [(ngModel)]="messenger.port" placeholder="port">
    <input [(ngModel)]="messenger.myDisplayName" placeholder="your user name">
    <input [(ngModel)]="messenger.myChatId" placeholder="chat unique id">
    <input [(ngModel)]="messenger.myChatName" placeholder="chat friendly name">
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="save()">Save</button>